# INPUTS

In [7]:
name = input('What is your name?\n')
print(name)

num = input ("Enter number :")
print(num)
name1 = input("Enter name : ")
print(name1)

What is your name?
umesh
umesh
Enter number :23
23
Enter name : ganesh
ganesh

In [8]:
# Printing type of input value
print ("type of number", type(num))
print ("type of name", type(name1))

type of number <class 'str'>
type of name <class 'str'>

In [9]:
#TYPECASTING

int1 = int(input("plese enter number"))         #integer input
float1 = float(input("plese enter number"))     #float input

plese enter number23
plese enter number45

In [10]:
print(type(int1))
print(type(float1))

<class 'int'>
<class 'float'>

MULTIPLE INPUTS

In [5]:
x,y = input("please enter input").split()
print("output value 1:",x)
print("output value 2:",y)

please enter input12 23
output value 1: 12
output value 2: 23

In [4]:
a,b = input("please enter number").split()
print("first number is {} and second number is {}".format(a,b))

please enter number23 34
first number is 23 and second number is 34

In [12]:
#taking three inputs at a time

i,j,k = input("please enter input").split()
print("output value 1:",i)
print("output value 2:",j)
print("output value 2:",k)

please enter inputumesh ganesh mahesh
output value 1: umesh
output value 2: ganesh
output value 2: mahesh

The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

In [13]:
x = list(map(int, input("Enter multiple values: ").split()))
print("List of students: ", x)

Enter multiple values: 12 34 56 67 78 89 09 12 336 34 78
List of students:  [12, 34, 56, 67, 78, 89, 9, 12, 336, 34, 78]

In [15]:
# using List comprehension

x,y = [int(x)  for x in input("please enter input").split()]
print("First Number is: ", x)
print("Second Number is: ", y)

please enter input45 34
First Number is:  45
Second Number is:  34

In [ ]:
#COUNTDOWN TIMER
import time

count_num = int(input("please enter time in sec:"))
for i in reversed(range(count_num+1)):
    if i>0:
        print(i,end=">>>")
        time.sleep(1)
    else:
        print("start")

# OUTPUT

In [35]:
# using * symbol prints the list elements in a single line
A = [1, 2, 3, 4, 5, 6]
 
print(*A)

1 2 3 4 5 6

In [34]:
#Print without newline Using Python sys module
import sys

sys.stdout.write("Myself UMESH")
sys.stdout.write(" I am from HYDERBAD")

Myself UMESH I am from HYDERBAD

19

In [36]:

# ends the output with a space
print("Welcome to", end = ' ')
print("MY WORLD", end= ' ')

Welcome to MY WORLD

In [38]:

# ends the output with '@'
print("umeshdudigani", end='@')
print("gmail.com")

umeshdudigani@gmail.com

In [40]:
print('g','h',end='')     #by default space is printed btw items
print('i')

g hi

In [41]:
print('g','h',sep='',end='')
print('i')

ghi

In [42]:
print('09','12','2016', sep='-')

09-12-2016

In [43]:
print('Dream','Plan','Work',sep='-',end='>>>')
print("SUCCESS")

Dream-Plan-Work>>>SUCCESS

#  Operator

In [44]:
a,b = 10,20
min = a if a<b else b

In [45]:
print(min)

10

In [46]:
#NATIVE METHOD
a, b = 10, 20
 
if a != b:
    if a > b:
        print("a is greater than b")
    else:
        print("b is greater than a")
else:
    print("Both a and b are equal")

b is greater than a

In [47]:
#USING Ternary Operator
a , b = 10,20
print('a and b are equal' if a==b else "a is greater than b" if a>b else " b is greater than a")

 b is greater than a

# AND ALL

In [2]:

# Since all are false, false is returned
print (any([False, False, False, False]))
 
# Here the method will short-circuit at the
# second item (True) and will return True.
print (any([False, True, False, False]))
 
# Here the method will short-circuit at the
# first (True) and will return True.
print (any([True, False, False, False]))

False
True
True

In [3]:
# Here all the iterables are True so all
# will return True and the same will be printed
print (all([True, True, True, True]))
 
# Here the method will short-circuit at the 
# first item (False) and will return False.
print (all([False, True, True, False]))
 
# This statement will return False, as no
# True is found in the iterables
print (all([False, False, False]))

True
False
False

In [4]:
LIST1 = []
LIST2 = []

for i in range(1,11):
    LIST1.append(4*i)
    
print(LIST1)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [6]:
for i in range(0,10):
    LIST2.append(LIST1[i]%5==0)
    
LIST2

[False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True]

In [7]:
print(any(LIST2))

True

In [8]:
list1=[]
list2=[]
 
# All numbers in list1 are in form: 4*i-3
for i  in range(1,21):
    list1.append(4*i-3)
    
list1

[1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 61, 65, 69, 73, 77]

In [9]:
 # list2 stores info of odd numbers in list1
for i in range(0,20):
    list2.append(list1[i]%2==1)
 
print('See whether all numbers in list1 are odd =>')
print(all(list2))

See whether all numbers in list1 are odd =>
True

# INBUILT OPERATOR FUNCTION

In [10]:
import operator

In [12]:
a = 2
b = 7
print('addition: ',operator.add(a,b))
print('Subtraction: ',operator.sub(a,b))
print('Multiplication: ',operator.mul(a,b))
print('Division: ',operator.truediv(a,b))

addition:  9
Subtraction:  -5
Multiplication:  14
Division:  0.2857142857142857

In [16]:
print('Floor Division: ',operator.floordiv(a,b))
print('Power: ',operator.pow(a,b))
print('Reminder: ',operator.mod(a,b))

Floor Division:  0
Power:  128
Reminder:  2

In [18]:
li = [1, 5, 6, 7, 8]

In [20]:
for i in range(0,len(li)): 
    print (li[i],end=" ")

1 5 6 7 8

In [22]:
operator.setitem(li,3,3)              #to assign a value at particular position

In [23]:
for i in range(0,len(li)): 
    print (li[i],end=" ")

1 5 6 3 8